{{ form_start(form, {
  'attr': {
    'id': 'hbGalleryForm',
    'novalidate': 'novalidate'
  }
}) }}

  <div class="hb-mode">
    <div class="hb-mode-title">
      <i class="bx bx-wand"></i>
      Choose how to create
    </div>

    <div class="hb-toggle">
      <button type="button" class="hb-pill active" data-mode="template">
        <i class="bx bx-layer"></i> Default Gallery
      </button>
      <button type="button" class="hb-pill" data-mode="custom">
        <i class="bx bx-edit"></i> Custom
      </button>
    </div>

    <div class="hb-mode-sub">Pick a Default Gallery or build your own ✨</div>
  </div>

  <div id="hbTemplateBlock" class="hb-block-form">
    {{ form_row(form.defaultGallery) }}
    <div class="hb-hint">
      <i class="bx bx-info-circle"></i>
      Selecting a gallery will auto-fill the name & description.
    </div>
  </div>

  <div id="hbCustomBlock" class="hb-block-form" style="display:none;">
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
  </div>

  <button type="submit" class="btn btn-primary hb-submit">
    <i class="bx bx-check-circle"></i> Create gallery
  </button>

{{ form_end(form) }}
