{% extends 'ui_portal/layouts/base.html.twig' %}

{% block title %}Paramètres du compte · Connexions{% endblock %}

{% block content %}
  {% include 'ui_portal/partials/account-settings-nav.html.twig' with { active_tab: 'connections' } %}

  <div class="card">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="card-header">
          <h5 class="mb-1">Applications utiles</h5>
          <p class="my-0 card-subtitle">Choisissez les outils qui partagent des informations avec HomeBalance.</p>
        </div>
        <div class="card-body">
          <div class="d-flex mb-4 align-items-center">
            <div class="flex-shrink-0">
              <img src="{{ asset('img/icons/brands/google.png') }}" alt="Google" class="me-4" height="32" />
            </div>
            <div class="flex-grow-1 d-flex align-items-center justify-content-between">
              <div class="mb-sm-0 mb-2">
                <h6 class="mb-0">Google</h6>
                <small>Calendrier et contacts</small>
              </div>
              <div class="text-end">
                <div class="form-check form-switch mb-0">
                  <input type="checkbox" class="form-check-input" checked />
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex mb-4 align-items-center">
            <div class="flex-shrink-0">
              <img src="{{ asset('img/icons/brands/slack.png') }}" alt="Slack" class="me-4" height="32" />
            </div>
            <div class="flex-grow-1 d-flex align-items-center justify-content-between">
              <div class="mb-sm-0 mb-2">
                <h6 class="mb-0">Slack</h6>
                <small>Discussion du foyer</small>
              </div>
              <div class="text-end">
                <div class="form-check form-switch mb-0">
                  <input type="checkbox" class="form-check-input" />
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex mb-4 align-items-center">
            <div class="flex-shrink-0">
              <img src="{{ asset('img/icons/brands/github.png') }}" alt="GitHub" class="me-4" height="32" />
            </div>
            <div class="flex-grow-1 d-flex align-items-center justify-content-between">
              <div class="mb-sm-0 mb-2">
                <h6 class="mb-0">GitHub</h6>
                <small>Notes et listes</small>
              </div>
              <div class="text-end">
                <div class="form-check form-switch mb-0">
                  <input type="checkbox" class="form-check-input" checked />
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex mb-4 align-items-center">
            <div class="flex-shrink-0">
              <img
                src="{{ asset('img/icons/brands/mailchimp.png') }}"
                alt="Mailchimp"
                class="me-4"
                height="32" />
            </div>
            <div class="flex-grow-1 d-flex align-items-center justify-content-between">
              <div class="mb-sm-0 mb-2">
                <h6 class="mb-0">Mailchimp</h6>
                <small>Messages familiaux</small>
              </div>
              <div class="text-end">
                <div class="form-check form-switch mb-0">
                  <input type="checkbox" class="form-check-input" checked />
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img src="{{ asset('img/icons/brands/asana.png') }}" alt="Asana" class="me-4" height="32" />
            </div>
            <div class="flex-grow-1 d-flex align-items-center justify-content-between">
              <div class="mb-sm-0 mb-2">
                <h6 class="mb-0">Asana</h6>
                <small>Tableaux de tâches</small>
              </div>
              <div class="text-end">
                <div class="form-check form-switch mb-0">
                  <input type="checkbox" class="form-check-input" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="card-header">
          <h5 class="mb-1">Réseaux sociaux</h5>
          <p class="my-0 card-subtitle">Reliez les espaces où votre famille partage déjà des nouvelles.</p>
        </div>
        <div class="card-body">
          <div class="d-flex mb-4 align-items-center">
            <div class="flex-shrink-0">
              <img src="{{ asset('img/icons/brands/facebook.png') }}" alt="Facebook" class="me-4" height="32" />
            </div>
            <div class="flex-grow-1 row">
              <div class="col-7">
                <h6 class="mb-0">Facebook</h6>
                <small>Non connecté</small>
              </div>
              <div class="col-5 text-end mt-sm-0 mt-2">
                <button class="btn btn-icon btn-outline-secondary">
                  <i class="icon-base bx bx-link icon-md"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="d-flex mb-4 align-items-center">
            <div class="flex-shrink-0">
              <img src="{{ asset('img/icons/brands/twitter.png') }}" alt="Twitter" class="me-4" height="32" />
            </div>
            <div class="flex-grow-1 row">
              <div class="col-7">
                <h6 class="mb-0">Twitter</h6>
                <a href="#" class="small">@HomeBalance</a>
              </div>
              <div class="col-5 text-end mt-sm-0 mt-2">
                <button class="btn btn-icon btn-outline-danger">
                  <i class="icon-base bx bx-trash icon-md"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="d-flex mb-4 align-items-center">
            <div class="flex-shrink-0">
              <img src="{{ asset('img/icons/brands/instagram.png') }}" alt="Instagram" class="me-4" height="32" />
            </div>
            <div class="flex-grow-1 row">
              <div class="col-7">
                <h6 class="mb-0">Instagram</h6>
                <a href="#" class="small">@HomeBalance</a>
              </div>
              <div class="col-5 text-end mt-sm-0 mt-2">
                <button class="btn btn-icon btn-outline-danger">
                  <i class="icon-base bx bx-trash icon-md"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="d-flex mb-4 align-items-center">
            <div class="flex-shrink-0">
              <img src="{{ asset('img/icons/brands/dribbble.png') }}" alt="Dribbble" class="me-4" height="32" />
            </div>
            <div class="flex-grow-1 row">
              <div class="col-7">
                <h6 class="mb-0">Dribbble</h6>
                <small>Non connecté</small>
              </div>
              <div class="col-5 text-end mt-sm-0 mt-2">
                <button class="btn btn-icon btn-outline-secondary">
                  <i class="icon-base bx bx-link icon-md"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img src="{{ asset('img/icons/brands/behance.png') }}" alt="Behance" class="me-4" height="32" />
            </div>
            <div class="flex-grow-1 row align-items-center">
              <div class="col-7">
                <h6 class="mb-0">Behance</h6>
                <small>Non connecté</small>
              </div>
              <div class="col-5 text-end">
                <button class="btn btn-icon btn-outline-secondary">
                  <i class="icon-base bx bx-link icon-md"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
