{{ form_start(form, { attr: { novalidate: 'novalidate', class: 'evt-form' } }) }}
  {% if form.vars.errors|length > 0 %}
    <div class="evt-form-errors">{{ form_errors(form) }}</div>
  {% endif %}
  <div class="row g-3">
    <div class="col-md-6">
      {{ form_row(form.offsetMinutes) }}
    </div>
    <div class="col-md-6">
      {{ form_row(form.canal) }}
    </div>
    <div class="col-md-6">
      {{ form_row(form.actif) }}
    </div>
    <div class="col-md-6">
      {{ form_row(form.estLu) }}
    </div>
  </div>
  <div class="mt-3">
    <button class="btn evt-btn-primary">{{ button_label|default('Enregistrer') }}</button>
  </div>
{{ form_end(form) }}
