{{ form_start(form, { attr: { novalidate: 'novalidate', class: 'evt-form' } }) }}
  {% if form.vars.errors|length > 0 %}
    <div class="evt-form-errors">{{ form_errors(form) }}</div>
  {% endif %}
  <div class="row g-3">
    <div class="col-md-6">
      {{ form_row(form.titre) }}
    </div>
    <div class="col-md-6">
      {{ form_row(form.lieu) }}
    </div>
    <div class="col-12">
      {{ form_row(form.description) }}
    </div>
    <div class="col-md-6">
      {{ form_row(form.dateDebut) }}
    </div>
    <div class="col-md-6">
      {{ form_row(form.dateFin) }}
    </div>
    <div class="col-md-6">
      {{ form_row(form.typeEvenement) }}
    </div>
    <div class="col-12">
      {{ form_row(form.shareWithFamily) }}
    </div>
  </div>
  <div class="mt-3">
    <button class="btn evt-btn-primary">{{ button_label|default('Enregistrer') }}</button>
  </div>
{{ form_end(form) }}
