{% extends 'base_front.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
<div class="d-flex justify-content-between align-items-center mb-3">
  <h4 class="fw-semibold m-0">Event Details</h4>
  <div>
    <a href="{{ path('app_evenement_index') }}" class="btn btn-outline-secondary me-2">
      Back
    </a>
    <a href="{{ path('app_evenement_rappels', { id: evenement.id }) }}" class="btn btn-outline-secondary">
      Reminders
    </a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <dl class="row mb-0">
      <dt class="col-sm-3">Title</dt>
      <dd class="col-sm-9">{{ evenement.titre }}</dd>
      <dt class="col-sm-3">Description</dt>
      <dd class="col-sm-9">{{ evenement.description }}</dd>
      <dt class="col-sm-3">Start</dt>
      <dd class="col-sm-9">{{ evenement.dateDebut ? evenement.dateDebut|date('Y-m-d H:i') : '' }}</dd>
      <dt class="col-sm-3">End</dt>
      <dd class="col-sm-9">{{ evenement.dateFin ? evenement.dateFin|date('Y-m-d H:i') : '' }}</dd>
      <dt class="col-sm-3">Location</dt>
      <dd class="col-sm-9">{{ evenement.lieu }}</dd>
      <dt class="col-sm-3">Type</dt>
      <dd class="col-sm-9">{{ evenement.typeEvenement }}</dd>
      <dt class="col-sm-3">Shared</dt>
      <dd class="col-sm-9">{{ evenement.shareWithFamily ? 'Yes' : 'No' }}</dd>
    </dl>
  </div>
</div>
{% endblock %}
