<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}HomeBalance{% endblock %}</title>

    <!-- Sneat CORE CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/core.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/theme-default.css') }}">

    {% block stylesheets %}{% endblock %}

    <!-- Sneat helpers -->
    <script src="{{ asset('assets/js/helpers.js') }}"></script>
</head>

<body>

<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div class="layout-page">

            {# MAIN CONTENT #}
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    {% block body %}{% endblock %}
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Sneat CORE JS -->
<script src="{{ asset('assets/js/config.js') }}"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>

{% block javascripts %}
    {{ importmap('app') }}
{% endblock %}

</body>
</html>
