<!DOCTYPE html>
<html>
   <head>
  <meta charset="UTF-8">
  <title>{% block title %}HomeBalance{% endblock %}</title>

  <!-- Sneat CSS -->
  <link rel="stylesheet" href="{{ asset('assets/css/core.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/theme-default.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/demo.css') }}">

  {% block stylesheets %}{% endblock %}

  <!-- Sneat JS helpers -->
  {% block javascripts %}
    {{ importmap('app') }}
  {% endblock %}
</head>

   <body>
  {% block body %}{% endblock %}

  <!-- Sneat JS -->
  <script src="{{ asset('assets/js/helpers.js') }}"></script>
  <script src="{{ asset('assets/js/config.js') }}"></script>
  <script src="{{ asset('assets/js/main.js') }}"></script>
</body>

</html>
