{{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}

<div class="mb-3">
  {{ form_label(form.nomCategorie, "Nom de la catégorie") }}
  {{ form_widget(form.nomCategorie, {'attr': {'class': 'form-control'}}) }}
  <div class="text-danger small mt-1">
    {{ form_errors(form.nomCategorie) }}
  </div>
</div>

<button type="submit" class="btn btn-primary">Enregistrer</button>

{{ form_end(form) }}
