{% extends 'base_back.html.twig' %}

{% block title %}Ajouter un evenement{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/module-evenement-pro.css') }}?v=1">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin="">
{% endblock %}

{% block body %}
<div class="d-flex justify-content-between align-items-center mb-3">
  <h4 class="fw-semibold m-0">Ajouter un evenement</h4>
  <a href="{{ path('admin_evenement_index') }}" class="btn btn-outline-secondary">
    Retour
  </a>
</div>

<div class="card">
  <div class="card-body">
    {{ include('admin/evenement/_form.html.twig', { button_label: 'Creer' }) }}
  </div>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
          crossorigin=""></script>
{% endblock %}
