{% extends 'base.html.twig' %}

{% block title %}Nouvelle tache globale{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'ModuleTache/partials/_theme.html.twig' %}
{% endblock %}

{% block body %}
<div class="task-module">
    <div class="tm-page-head">
        <div>
            <h1 class="tm-title h3">Nouvelle tache globale</h1>
            <p class="tm-subtitle">Cette tache sera visible par les familles qui veulent l'ajouter.</p>
        </div>
        <a href="{{ path('admin_task_index') }}" class="btn btn-outline-secondary">
            <i class="bx bx-arrow-back"></i>
            Retour
        </a>
    </div>

    <div class="card tm-card tm-form-wrap">
        <div class="card-body">
            {{ form_start(form) }}
                <div class="row g-3">
                    <div class="col-12">{{ form_row(form.title) }}</div>
                    <div class="col-12">{{ form_row(form.description) }}</div>
                    <div class="col-md-6">{{ form_row(form.difficulty) }}</div>
                    <div class="col-md-6">{{ form_row(form.recurrence) }}</div>
                </div>
                <div class="mt-4 d-flex gap-2">
                    <button type="submit" class="btn btn-primary">
                        <i class="bx bx-save"></i>
                        Creer
                    </button>
                    <a href="{{ path('admin_task_index') }}" class="btn btn-label-secondary">Annuler</a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
