{% extends 'base.html.twig' %}

{% block body %}
<h1>Modifier la tâche</h1>

{{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.difficulty) }}
    {{ form_row(form.recurrence) }}

    <button type="submit">💾 Enregistrer</button>

{{ form_end(form) }}

<a href="{{ path('admin_task_index') }}">⬅ Retour</a>
{% endblock %}
